<p-messages [value]="msgs" [escape]="true"></p-messages>
<form [formGroup]="profileDocument" (ngSubmit)="onSubmit()">
  <div *ngIf="documento">
    <table border="0">
      <tr>
        <td>Clave</td>
        <td>
          <input
            #claveInput
            type="text"
            [(ngModel)]="documento.clave"
            pInputText
            size="25"
            formControlName="clave"
            mask="AAAAAAAAAA"
            (input)="convertirAMayusculas()"
            [showMaskTyped]="true"
            required
            style="width: 400px"
          />
          <div *ngIf="clave.errors?.required">Clave es requerido</div>
        </td>
      </tr>

      <tr>
        <td>Nombre</td>
        <td>
          <input
            type="text"
            formControlName="nombre"
            pInputText
            size="25"
            [(ngModel)]="documento.nombre"
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,0-9]+"
            required
            style="width: 400px"
          />
          <div *ngIf="nombre.errors?.required">Nombre es requerido</div>
          <div *ngIf="nombre.errors?.pattern">Nombre solo acepta letras y números</div>
        </td>
      </tr>


      <tr>
        <td>Estatus</td>

      <td>
        <p-dropdown
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
          formControlName="statusProyectoForm"
          [(ngModel)]="selectedStatusProyecto"
          [options]="statusProyectos"
          optionLabel="nombre"
          [style]="{ width: '400px' }"


        ></p-dropdown>
      </td>
    </tr>
      <!-- <td>
        <p-dropdown
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
          formControlName="estatus"
          [options]="lstStatusProyecto"
          dataKey="statusProyectoId"
          optionLabel="nombre"
          optionValue="nombre"
        ></p-dropdown>
      </td> -->

      <tr>
        <td>Observaciones</td>
        <td>
          <textarea
            pInputTextarea
            [rows]="5"
            [cols]="25"
            formControlName="observaciones"
            style="width: 400px"
          ></textarea>
        </td>
      </tr>
    </table>

    <div>
      <button
        pButton
        type="button"
        label="Guardar"
        (click)="guardarDocumento()"
      ></button>
      <button
        pButton
        style="margin: 3px"
        icon="pi pi-times"
        type="button"
        label="Cancelar"
        (click)="cancelar()"
      ></button>
    </div>
  </div>
</form>
