<p-messages [value]="msgs" [escape]="true"></p-messages>
<div *ngIf="documento">
<form [formGroup]="profileDocument" (ngSubmit)="onSubmit()">
    <table border="0" cellpadding="1"  cellspacing="1">
      <tr>
        <td  style="vertical-align: top;"  >
          <table border="0">

        <tr>
          <td style="line-height:50pt;">Clave</td>
              <input
                #claveInput
                type="text"
                [(ngModel)]="documento.clave"
                pInputText
                size="25"
                formControlName="clave"
                mask="AAAAAAAAAA"
                (input)="convertirAMayusculas()"
                [showMaskTyped]="true"
                required
                style="width: 500px"/>
          <div *ngIf="clave.errors?.required">Clave es requerido</div>
        </tr>

      <tr>
        <td style="line-height:50pt;">Nombre</td>
            <td>
              <input
                type="text"
                formControlName="nombre"
                pInputText
                size="25"
                [(ngModel)]="documento.nombre"
                pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,0-9]+"
                required
                style="width: 500px"
              />
              <div *ngIf="nombre.errors?.required">Nombre es requerido</div>
              <div *ngIf="nombre.errors?.pattern">Nombre solo acepta letras y números</div>
            </td>
      </tr>


      <tr>
        <td style="line-height:50pt;">Estatus</td>
          <p-dropdown
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            formControlName="statusProyectoForm"
            [(ngModel)]="selectedStatusProyecto"
            [options]="statusProyectos"
            optionLabel="nombre"
            [style]="{ width: '500px' }"
          ></p-dropdown>
    </tr>
      <!-- <td>
        <p-dropdown
          [showTransitionOptions]="'0ms'"
          [hideTransitionOptions]="'0ms'"
          formControlName="estatus"
          [options]="lstStatusProyecto"
          dataKey="statusProyectoId"
          optionLabel="nombre"
          optionValue="nombre"
        ></p-dropdown>
      </td> -->

      <tr>
        <td style="line-height:50pt;">Observaciones</td>
          <td>
            <textarea
              pInputTextarea
              [rows]="5"
              [cols]="25"
              formControlName="observaciones"
              style="width: 500px">
            </textarea>
          </td>
      </tr>
          </table>
    </td>

    <td style="width: 50px;" > </td>
    <td style="vertical-align: top;">
      <table border="0"   cellpadding="1"  cellspacing="1">

        <tr><td style="line-height:30pt;">Ponderación</td></tr>
        <tr>
          <td>
            <textarea
              pInputTextarea
              [rows]="12"
              [cols]="35"
              formControlName="ponderación"
              style="width: 500px"
            ></textarea>
          </td>
        </tr>
      </table>
    </td>

</tr>
    </table>
</form>
</div>

    <div>
      <button
        pButton
        type="button"
        label="Guardar"
        (click)="guardarDocumento()"
      ></button>
      <button
        pButton
        style="margin: 3px"
        icon="pi pi-times"
        type="button"
        label="Cancelar"
        (click)="cancelar()"
      ></button>
    </div>


