<p-messages [value]="msgs" [escape]="true"></p-messages>

<div *ngIf="region">
  <form [formGroup]="profileRegion" (ngSubmit)="onSubmit()">
    <table border="0" cellpadding="1" cellspacing="1">
      <tr>
        <td>Clave</td>
        <td>
          <input
            #claveInput
            type="text"
            formControlName="clave"
            pInputText
            [(ngModel)]="region.clave"
            mask="AAAAAAAAAA"
            (input)="(convertirMayuscula)"
            [showMaskTyped]="true"
            required
            [style]="{ width: '500px' }"
          />
          <div *ngIf="f.clave.errors?.required">Clave es requerido</div>
        </td>
      </tr>

      <tr>
        <td>Nombre</td>
        <td>
          <input
            type="text"
            pInputText
            formControlName="nombre"
            [(ngModel)]="region.nombre"
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,]+"
            [style]="{ width: '500px' }"
          />
          <div *ngIf="f.nombre.errors?.required">Nombre es requerido</div>
          <div *ngIf="f.nombre.errors?.pattern">Nombre solo acepta letras y números</div>
        </td>
      </tr>

      <tr *ngIf="selectedEmpresa">
        <td>Empresa</td>
        <td>
          <p-dropdown
            (onChange)="empresaChanged()"
            formControlName="empresa"
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            [(ngModel)]="selectedEmpresa"
            [options]="empresas"
            optionLabel="nombre"
            [style]="{ width: '500px' }"
          ></p-dropdown>
        </td>
      </tr>

      <tr *ngIf="selectedMarca">
        <td>Marca</td>
        <td>
          <p-dropdown
            (onChange)="marcaChanged()"
            formControlName="marca"
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            [(ngModel)]="selectedMarca"
            [options]="marcas"
            optionLabel="nombre"
            [style]="{ width: '500px' }"
          ></p-dropdown>
        </td>
      </tr>

      <tr>
        <td>Activo</td>
        <td>
          <p-inputSwitch
            [(ngModel)]="region.flagActivo"
            formControlName="flagActivo"
          ></p-inputSwitch>
        </td>
      </tr>
    </table>
  </form>

  <div style="margin-top: 30px">
    <h2>CAPTURA SUCURSALES</h2>

    <table cellpadding="1">
      <tr>
        <td
          style="
            vertical-align: top;
            background-color: rgba(122, 87, 87, 0.377);
          "
        >
          <p-table
            #dtTableRegionAux
            [style]="{ width: '850PX', height: '450px', background: '#f6f6f6' }"
            [paginator]="true"
            [rows]="8"
            [value]="sucursalesRegion"
            selectionMode="multiple"
            [(selection)]="selectedSucursalRegionLeft"
            dataKey="sucursalId"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50px">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 200px">Clave</th>
                <th style="width: 200px">Nombre</th>
                <th style="width: 200px">Calle</th>
                <th style="width: 200px">Numero</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <input
                    size="20"
                    pInputText
                    type="text"
                    (input)="
                      dtTableRegionAux.filter(
                        $event.target.value,
                        'nombre',
                        'contains'
                      )
                    "
                  />
                </th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-srLeft let-rowIndex="rowIndex">
              <tr [pSelectableRow]="srLeft">
                <td>
                  <p-tableCheckbox [value]="srLeft"></p-tableCheckbox>
                </td>
                <td>{{ srLeft.clave }}</td>
                <td>{{ srLeft.nombre }}</td>
                <td>{{ srLeft.calle }}</td>
                <td>{{ srLeft.numero }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>

        <td style="vertical-align: top">
          <table>
            <tr>
              <td>
                <button
                  pButton
                  style="margin: 3px"
                  icon="pi pi-arrow-right"
                  type="icon"
                  (click)="addSucursal()"
                ></button>
              </td>
            </tr>
            <tr>
              <td>
                <button
                  pButton
                  style="margin: 3px"
                  icon="pi pi-arrow-left"
                  type="icon"
                  (click)="removeSucursal()"
                ></button>
              </td>
            </tr>
          </table>
        </td>

        <td
          style="
            vertical-align: top;
            background-color: rgba(122, 87, 87, 0.377);
          "
        >
          <p-table
            #dtTableRegionesAux2
            [style]="{ width: '850px', height: '450px', background: '#f6f6f6' }"
            [paginator]="true"
            [rows]="8"
            [value]="sucursalesRegionSelected"
            selectionMode="multiple"
            [(selection)]="selectedSucursalRegionRight"
            dataKey="sucursalId"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50px">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 200px">Clave</th>
                <th style="width: 200px">Nombre</th>
                <th style="width: 200px">Calle</th>
                <th style="width: 200px">Numero</th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <input
                    size="20"
                    pInputText
                    type="text"
                    (input)="
                      dtTableRegionesAux2.filter(
                        $event.target.value,
                        'nombre',
                        'contains'
                      )
                    "
                  />
                </th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-srRight let-rowIndex="rowIndex">
              <tr [pSelectableRow]="srRight">
                <td>
                  <p-tableCheckbox [value]="srRight"></p-tableCheckbox>
                </td>
                <td>{{ srRight.clave }}</td>
                <td>{{ srRight.nombre }}</td>
                <td>{{ srRight.calle }}</td>
                <td>{{ srRight.numero }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </table>
    <div style="padding: 20px">
      <button
        pButton
        style="margin: 3px"
        icon="pi pi-check"
        type="button"
        label="Guardar"
        (click)="guadarRegion()"
        [disabled]="!profileRegion.valid"
      ></button>

      <button
        pButton
        style="margin: 3px"
        icon="pi pi-times"
        type="button"
        label="Cancelar"
        (click)="cancelar()"
      ></button>
    </div>
  </div>
</div>
