

    <div   *ngIf=" opcion!=null  "  style="font-family:Arial, Helvetica, sans-serif;"   >

        <div style="font-family:Arial, Helvetica, sans-serif;" >
            <h3>{{opcionAccion}} </h3>
        </div>

        <table cellpadding="2"  cellspacing="2"   border="0" >
            <tr    >
               <td style="line-height:30pt;">Clave</td>
               <td>
                <input
                  #claveInput
                  type="text"
                  pInputText
                  size="30"
                  [(ngModel)]="opcion.clave"
                  mask="AAAAAAAAAA"
                  (ngModelChange)="onClaveChange()"
                  [showMaskTyped]="true"
                  [style]="{ width: '500px' }"
                  required
                />
                 <div *ngIf="claveError">La clave debe tener al menos 10 caracteres</div>
               </td>
             </tr>
             <tr    >
                <td style="line-height:30pt;">Texto</td>
                <td>
                 <input type="text" pInputText   size="30"   [(ngModel)]="opcion.texto"   [style]="{ width: '500px' }" />
                </td>
              </tr>

              <tr    >
                <td style="line-height:30pt;">Valor</td>
                <td>
                 <input type="text" pInputText   size="30"   [(ngModel)]="opcion.valor"  [style]="{ width: '500px' }"  />
                </td>
              </tr>

              <tr    >
                <td style="line-height:30pt;">Tag</td>
                <td>
                 <input type="text" pInputText   size="30"   [(ngModel)]="opcion.tag"  [style]="{ width: '500px' }" />
                </td>
              </tr>

              <tr    >
                <td style="line-height:30pt;">Ponderación</td>
                <td>
                  <input type="text" pInputText   size="30"   [(ngModel)]="opcion.ponderacion"  [style]="{ width: '500px' }" />
                </td>
              </tr>

              <tr>
                <td>Visible</td>
                <td>
                  <p-inputSwitch [(ngModel)]="visible"></p-inputSwitch>
               </td>
             </tr>

             <tr>
              <td>Enabled</td>
              <td>
                <p-inputSwitch [(ngModel)]="enabled"></p-inputSwitch>
             </td>
           </tr>


           <tr    >
            <td style="line-height:30pt;">Orden</td>
            <td>
               <input type="text" pInputText     [(ngModel)]="opcion.orden"   [style]="{ width: '500px' }" />
           </td>
           </tr>

           <tr *ngIf = "soyFiltro">
            <td>Filtro</td>
            <td>
              <p-dropdown      [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"   [(ngModel)]="selectedOpcion"   [options]="opcionFiltrada"  optionLabel="texto"></p-dropdown>
           </td>
         </tr>

              <tr  >
                <td colspan="2"  >
                <div style="margin-top:10px ;"  >

                    <button pButton style="margin:3px;" icon="pi pi-check"  type="button" label="Guardar" (click)="guardarOpcion()" [disabled]="!esClaveValida" ></button>

                    <button pButton style="margin:3px;" icon="pi pi-times"  type="button" label="Cancelar" (click)="cancelarOpcion()"></button>

                </div>
                </td>

              </tr>




        </table>


    </div>
