

 <p-messages [value]="msgs"   [escape]=true  ></p-messages>

 <div    *ngIf="sucursal"    >

   <form [formGroup]="profileSucursal" (ngSubmit)="onSubmit()">
    <table  border="0"   cellpadding="1"  cellspacing="1"      >
        <tr     >
            <td  style="vertical-align: top;"  >

                <table  border="0"   cellpadding="1"  cellspacing="1"      >

                    <tr     >
                        <td>Clave</td>
                        <input #claveInput type="text" formControlName="clave" pInputText   size="35"  [(ngModel)]="sucursal.clave"  mask="AAAAAAAAAA" (input)="convertirAMayusculas()" [showMaskTyped]="true" required />
                       <div *ngIf="f.clave.errors?.required">
                        Clave es requerido
                        </div>
                    </tr>


                    <tr     >
                        <td>Nombre</td>
                        <td>
                           <input type="text" pInputText formControlName="nombre"  size="35"  [(ngModel)]="sucursal.nombre"  pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,0-9]+" />
                           <div *ngIf="f.nombre.errors?.required">
                            Nombre es requerido
                          </div>
                          <div *ngIf="f.nombre.errors?.pattern">
                            Nombre solo acepta letras y números
                          </div>
                       </td>
                    </tr>


                    <tr     >
                        <td>Empresa</td>
                        <td>
                          <p-dropdown     [style]="{ width: '290px' }" (onChange)="empresaChanged(0)"  formControlName="empresa"  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"   [(ngModel)]="selectedEmpresa"   [options]="empresas"  optionLabel="nombre"></p-dropdown>
                       </td>
                     </tr>

                     <tr    >
                        <td>Marca</td>
                        <td>
                          <p-dropdown     [style]="{ width: '290px' }" formControlName="marca"  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"   [(ngModel)]="selectedMarca"   [options]="marcas"  optionLabel="nombre"></p-dropdown>
                       </td>
                     </tr>

                     <tr     >
                        <td>Calle</td>
                        <td>
                           <input type="text" pInputText     size="35"    [(ngModel)]="sucursal.calle"  formControlName="calle" />
                       </td>
                    </tr>

                    <tr     >
                        <td>Número</td>
                        <td>
                           <input type="text" pInputText    size="35"     [(ngModel)]="sucursal.numero"   formControlName="numero"/>
                        </td>
                    </tr>

                    <tr     >
                        <td>Entre Calles</td>
                        <td>
                           <input type="text" pInputText     size="35"    [(ngModel)]="sucursal.entreCalle"  formControlName="entreCalle" />
                        </td>
                    </tr>

                    <tr     >
                        <td>Colonia</td>
                        <td>
                           <input type="text" pInputText    size="35"     [(ngModel)]="sucursal.colonia"  formControlName="colonia" />
                        </td>
                    </tr>

                    <tr     >
                        <td>CP</td>
                        <td>
                           <input type="text" pInputText    size="35"     [(ngModel)]="sucursal.cp"   formControlName="cp"/>
                        </td>
                    </tr>

                    <tr    >
                        <td>Estado</td>
                        <td>
                           <p-dropdown    [style]="{ width: '290px' }" (onChange)="estadoChanged()"    [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"  formControlName="estadosForm"  [(ngModel)]="selectedEstado"   [options]="estados"  optionLabel="nombre" [filter]="true"></p-dropdown>
                       </td>
                     </tr>

                     <tr    >
                        <td>Ciudad</td>
                        <td>
                           <p-dropdown   [style]="{ width: '290px' }" [showTransitionOptions]="'0ms'" formControlName="ciudadesForm" [hideTransitionOptions]="'0ms'"   [(ngModel)]="selectedCiudad"   [options]="ciudades"  optionLabel="nombre" [filter]="true"></p-dropdown>
                       </td>
                     </tr>


                    </table>


            </td>
            <td style="width: 50px;" > </td>

            <td  style="vertical-align: top;"  >

                <table  border="0"   cellpadding="1"  cellspacing="1"      >



                     <tr     >
                        <td>Teléfono</td>
                        <td>
                           <input type="text" pInputText    size="35"    formControlName="telefono"  [(ngModel)]="sucursal.telefono"   />
                        </td>
                    </tr>
                    <tr     >
                        <td>Fax</td>
                        <td>
                           <input type="text" pInputText    size="35"    formControlName="fax" [(ngModel)]="sucursal.fax"   />
                        </td>
                    </tr>
                    <tr     >
                        <td>GPS Latitud</td>
                        <td>
                           <input type="text" pInputText    size="35"   mask = "^-?\d{1,3}\.\d{7}$"  formControlName="coordenadaX" [(ngModel)]="sucursal.coordenadaX"   />
                        </td>
                    </tr>
                    <tr     >
                        <td>GPS Longitud</td>
                        <td>
                           <input type="text" pInputText     size="35" mask = "^-?\d{1,3}\.\d{7}$" formControlName="coordenadaY"   [(ngModel)]="sucursal.coordenadaY"   />
                        </td>
                    </tr>
                    <tr     >
                        <td>Responsable</td>
                        <td>
                           <input type="text" pInputText     size="35"  formControlName="responsable"  [(ngModel)]="sucursal.responsable"   />
                        </td>
                    </tr>

                    <tr     >
                        <td>Email Responsable</td>
                        <td>
                           <input type="text" pInputText    size="35"    formControlName="mail" [(ngModel)]="sucursal.mail"   />
                        </td>
                    </tr>

                    <tr     >
                        <td>Activo</td>
                        <td>
                            <p-inputSwitch [(ngModel)]="sucursal.flagActivo"  formControlName="flagActivo"  ></p-inputSwitch>
                       </td>
                    </tr>

                    </table>







           </td>
        </tr>
    </table>
    </form>








 </div>
 <div style="padding:20px;"  >

   <button *ngIf ="profileSucursal" pButton style="margin:3px;" icon="pi pi-check"  type="button" label="Guardar" (click)="guadarSucursal()" [disabled]="!profileSucursal.valid"></button>

   <button pButton style="margin:3px;" icon="pi pi-times"  type="button" label="Cancelar" (click)="cancelar()"></button>

</div>



