<p-messages [value]="msgs" [escape]="true"></p-messages>
<form [formGroup]="profileMarca" (ngSubmit)="onSubmit()">
  <div *ngIf="marca">
    <table border="0" cellpadding="1" cellspacing="1" >
      <tr>
        <td align="center" style="line-height:30pt;">Clave</td>
        <td>
          <input
            #claveInput
            type="text"
            formControlName="clave"
            pInputText
            style="width: 500px"
            [(ngModel)]="marca.clave"
            mask="AAAAAAAAAA"
            (input)="convertirAMayusculas()"
            [showMaskTyped]="true"
            required

          />
          <div *ngIf="f.clave.errors?.required">Clave es requerido</div>
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Nombre</td>
        <td>
          <input
            type="text"
            pInputText
            formControlName="nombre"
            style="width: 500px"
            [(ngModel)]="marca.nombre"
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,0-9]+"
          />
          <div *ngIf="f.nombre.errors?.required">Nombre es requerido</div>
          <div *ngIf="f.nombre.errors?.pattern">
            Nombre solo acepta letras y números
          </div>
        </td>
      </tr>

      <tr *ngIf="selectedEmpresa">
        <td align="center" style="line-height:30pt;">Empresa</td>
        <td>
          <p-dropdown
            (onChange)="empresaChanged()"
            formControlName="empresa"
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            [(ngModel)]="selectedEmpresa"
            [options]="empresas"
            optionLabel="nombre"
            [style]="{ width: '500px' }"
            filter="true"
          ></p-dropdown>
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Calle</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="calle"
            [(ngModel)]="marca.calle"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Número</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="numero"
            [(ngModel)]="marca.numero"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Entre calles</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="entreCalle"
            [(ngModel)]="marca.entreCalle"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Colonia</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="colonia"
            [(ngModel)]="marca.colonia"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">CP</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="cp"
            [(ngModel)]="marca.cp"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Encargado</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="encargado"
            [(ngModel)]="marca.encargado"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">E-Mail resp</td>
        <td>
          <input
            type="text"
            pInputText
            style="width: 500px"
            formControlName="mail"
            [(ngModel)]="marca.mail"
          />
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Activo</td>
        <td>
          <p-inputSwitch
            [(ngModel)]="marca.flagActivo"
            formControlName="flagActivo"
          ></p-inputSwitch>
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Estado</td>
        <td>
          <p-dropdown
            (onChange)="estadoChanged()"
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            formControlName="estadosForm"
            [options]="estados"
            optionLabel="nombre"
            filter="true"
            [style]="{ width: '500px' }"
          ></p-dropdown>
        </td>
      </tr>

      <tr>
        <td align="center" style="line-height:30pt;">Ciudad</td>
        <td>
          <p-dropdown
            [showTransitionOptions]="'0ms'"
            formControlName="ciudadesForm"
            [hideTransitionOptions]="'0ms'"
            [options]="ciudades"
            optionLabel="nombre"
            filter="true"
            [style]="{ width: '500px' }"
          ></p-dropdown>
        </td>
      </tr>
    </table>
    <div style="padding: 20px">
      <button
        pButton
        style="margin: 3px"
        icon="pi pi-check"
        label="Guardar"
        type="submit"
        [disabled]="!profileMarca.valid"
      ></button>

      <button
        pButton
        style="margin: 3px"
        icon="pi pi-times"
        type="button"
        label="Cancelar"
        (click)="cancelar()"
      ></button>
    </div>
  </div>
</form>
<!-- <div style="padding:20px;"  >

   <button pButton style="margin:3px;" icon="pi pi-check"  type="button" label="Guardar" (click)="guadarMarca()"></button>

   <button pButton style="margin:3px;" icon="pi pi-times"  type="button" label="Cancelar" (click)="cancelar()"></button>

</div>-->
