<p-messages [value]="msgs" [escape]="true"></p-messages>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div *ngIf="catalogo != null" style="font-family: Arial, Helvetica, sans-serif">

    <div style="font-family: Arial, Helvetica, sans-serif">
      <h3>{{ listaAccion }}</h3>
    </div>

    <table cellpadding="2" border="0">
      <tr>
        <td>Clave</td>
        <td>
          <input
            #claveInput
            type="text"
            [(ngModel)]="catalogo.clave"
            pInputText
            size="25"
            formControlName="clave"
            mask="AAAAAAAAAA"
            (input)="convertirAMayusculas()"
            [showMaskTyped]="true"
            required
          />
          <div *ngIf="clave.errors?.required">Clave es requerido</div>
        </td>
      </tr>

      <tr>
        <td>Nombre del catálogo</td>
        <td>
          <input
            type="text"
            formControlName="nombre"
            pInputText
            size="25"
            [(ngModel)]="catalogo.nombre"
            pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s.,0-9]+"
            required
          />
          <div *ngIf="nombre.errors?.required">Nombre es requerido</div>
          <div *ngIf="nombre.errors?.pattern">Nombre solo acepta letras y números</div>
        </td>
      </tr>

      <tr>
        <td>Filtro</td>
        <td>
          <p-inputSwitch
            [(ngModel)]="filtro"
            (onChange)="clickFiltro($event)"
          ></p-inputSwitch>
        </td>
      </tr>

      <tr>
        <td>Filtrada</td>
        <td>
          <p-inputSwitch
            [(ngModel)]="filtrada"
            (onChange)="clickFiltrada($event)"
          ></p-inputSwitch>
        </td>
      </tr>

      <tr *ngIf="filtrada">
        <td>Lista</td>
        <td>
          <p-dropdown
            [showTransitionOptions]="'0ms'"
            [hideTransitionOptions]="'0ms'"
            [(ngModel)]="selectedLista"
            [options]="listaFiltrada"
            optionLabel="nombre"
          ></p-dropdown>
        </td>
      </tr>
    </table>



          <div style="margin-top: 10px">
            <button
              pButton
              style="margin: 3px"
              icon="pi pi-check"
              type="button"
              label="Guardar"
              (click)="guardarLista()"
            ></button>

            <button
              pButton
              style="margin: 3px"
              icon="pi pi-times"
              type="button"
              label="Cancelar"
              (click)="cancelarLista()"
            ></button>
          </div>



  </div>
</form>
