<!--Main Navigation-->
<header style="margin-bottom: 0px; position: relative; z-index: 1;">
  <nav class="navbar navbar-expand-md sticky-top">
    <img src="assets/img/logo.png" />
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <p-menubar [model]="items"></p-menubar>
    </div>
    <div>
      <table>
        <tr>
          <td>
            <a [routerLink]="[]" (click)="logOff()">
              <img width="40" height="40" src="/assets/img/logout.png" />
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ usuario.userName }} - {{ usuario.nombre }}</td>
        </tr>
        <tr>
          <td>{{ usuario.huespedNombre }}</td>
        </tr>
      </table>
    </div>
  </nav>
  <hr color="#00000" />
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main style="margin-left: 15px; margin-right: 15px; text-align: left">
  <div #workarea></div>
</main>
<!--Main Layout-->
