<style>
  .user-dropdown-button {
    background-color: #05158b; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    font-weight: bold; /* texto en negritas */
    margin-right: 60px; /* mover el boton del usuario */
  }

</style>

<!--Main Navigation-->
<header style="margin-bottom: 0px; position: relative; z-index: 1;">
  <nav class="navbar navbar-expand-md sticky-top">
    <img src="assets/img/logo.png" style="width: 150px" />
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <p-menubar [model]="items"></p-menubar>
    </div>

    <div class="dropdown" >
      <button class="btn btn-secondary dropdown-toggle user-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ usuario.userName}} - {{ usuario.nombre }} - {{ usuario.huespedNombre }}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 200px">
        <button class="dropdown-item" (click)="openVerPerfil()"><i class="pi pi-user"></i> Ver perfil</button>
        <button class="dropdown-item" (click)="logOff()"><i class="pi pi-sign-out"></i> Cerrar sesión</button>
      </div>

    </div>

  </nav>
  <hr color="#00000" />
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main style="margin-left: 15px; margin-right: 15px; text-align: left">
  <div #workarea></div>
</main>
<!--Main Layout-->
